<h1>Secrets</h1>

<ul>
  <li><a href="#">Startup ideas (NDA required)</a></li>
  <li><a href="#">Stock tips</a></li>
  <li><a href="#">18 and 1/2 minutes of audio tape</a></li>
  <li><a href="#">Great American novel (first draft)</a></li>
  <li><a href="#">Crushes on boys</a></li>
  <li><a href="#">IRS email backup</a></li>
</ul>
